<head>
  <title>Corona Online</title>
  <link rel="stylesheet" type="text/css" href="../website/css/style.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="presentation">
    <h1>Bienvenue sur Corona Online</h1>
    <h3>Aujourd'hui, nous avons eu nbcas en plus qu'hier !</h3>
  </div>
</body>
