<head>
  <title>Corona Online</title>
  <link rel="stylesheet" type="text/css" href="../website/css/style.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="all">
    <div class="nojs">
      <noscript>
        Si vous voyez ce texte, merci d'activer JavaScript sur votre naviguateur
      </noscript>
    </div>
    <section id="firstView">
      <div class="intro">
        <h1 class="title">Bienvenue sur Corona Online</h1>
        <br />
        <h2>Les stats en un coup d'oeuil :</h2>
        <h3 id="totalCase">total.case.text</h3>
        <h3 id="newDeaths">new.death.text</h3>
        <h3 id="newRecovered">new.recovered.text</h3>
      </div>
    </section>
    <section id="details">
      <div class="details">
        <h1>Dans le détail :</h1>
        <table id="details_table">
          <tr>
            <td>&nbsp;</td>
            <td>Cas total</td>
            <td>Nouveaux cas</td>
            <td>Nouveaux décès</td>
            <td>Nouveaux guéris</td>
          </tr>
        </table>
      </div>
    </section>
  </div>
  <script src="../website/js/bundle.js"></script>
</body>
