<head>
  <title>Corona Online</title>
  <link rel="stylesheet" type="text/css" href="../website/css/style.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
    rel="stylesheet"
  />
  <script src="../website/js/bundle.js"></script>
</head>
<body>
  <div class="all">
    <section id="firstView">
      <div class="presentation">
        <h1>Bienvenue sur Corona Online</h1>
        <h3 class="totalCase">
          Aujourd'hui, nous avons eu nbcas en plus qu'hier !
        </h3>
      </div>
    </section>
    <section id="More information">
      <h1>Dans le détail :</h1>
      <table>
        <tr>
          <td>Carmen</td>
          <td>33 ans</td>
          <td>Espagne</td>
        </tr>
        <tr>
          <td>Michelle</td>
          <td>26 ans</td>
          <td>États-Unis</td>
        </tr>
      </table>
    </section>
  </div>
</body>
