<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>COVID-19 Tracker</title>
  <meta name="description" content="Track the spread of the Coronavirus Covid-19 outbreak">

  <link rel="stylesheet" href="../website/assets/css/tachyons.min.css">
  <link rel="stylesheet" href="../website/assets/css/site.css?v=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css" />
  <!-- Select2 -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>

<body class="">
  <div class="h-100 midnight-blue pa3 ph0-l pv6-l">
      <div class="center mw7">
          <nav class="db dt-l w-100 border-box pa3 ">
              <div class="switch-wrapper">
                  <img class="theme-icon" src="../website/assets/img/moon.svg">
                  <div class="theme-switch">
                      <div class="switch"></div>
                  </div>
              </div>
          </nav>
      <article class="cf">
        <header class="header mw5 mw7-ns tl pa3">
          <div class="fl w-50-ns pa2">
            <noscript>
              <h1 class="mt0">Merci d'activer JavaScript sur votre naviguateur</h1>
            </noscript>
          <h1 class="mt0">🦠 COVID-19 Tracker</h1>
          <p class="lh-copy measure black-60">
            Visualisez rapidement les dernières statistiques du Coronavirus (COVID-19)
          </p>
        </div>

        </header>

        <div class="fl w-50 tc stat-card">
          <div class="card-box tilebox-one">
            <span class="icon">
              <img src="../website/assets/img/cases.svg">
            </span>
            <h6 class="black-40 ttu tl">Nombre total de cas</h6>
            <h3 class="black tl" id="totalCaseTxt" data-plugin="counterup">totalcase.txt</h3>
            <div class="sub-info pt3 pb4">
              <span class="badge badge-danger mr-1" id="todayCases">todayCases.txt</span>
              <span class="text-muted black-40">aujourd'hui</span>
            </div>
          </div>
          
        </div>
        <div class="fl w-50 tc stat-card">
          <div class="card-box tilebox-one">
            <span class="icon">
              <img src="../website/assets/img/deaths.svg">
            </span>
            <h6 class="black-40 ttu tl">Nombre total de décès</h6>
            <h3 class="black tl" id="totalDeathsTxt" data-plugin="counterup">totaldeaths.txt</h3>
            <div class="sub-info pt3 pb4">
              <span class="badge badge-danger mr-1" id="todayDeaths">todayDeaths.txt</span>
              <span class="text-muted black-40">aujourd'hui</span>
            </div>
          </div>
        </div>
      </article>
      <article class="cf">
        <div class="fl w-50 tc stat-card">
          <div class="card-box tilebox-one">
            <span class="icon"><img src="../website/assets/img/recoveries.svg"></span>
            <h6 class="black-40 ttu tl">Nombre total de guérisons</h6>
            <h3 class="black tl" id="totalRecoveriesTxt" data-plugin="counterup">totalrecoveries.txt</h3>
             <div class="sub-info pt3 pb4">
              <span class="badge badge-success mr-1" id="todayRecovered">todayRecovered.txt</span>
              <span class="text-muted black-40">aujourd'hui</span>
            </div>
          </div>
        </div>
        <div class="fl w-50 tc stat-card">
          <div class="card-box tilebox-one">
            <span class="icon">
              <img src="../website/assets/img/active_cases.svg">
            </span>
            <h6 class="black-40 ttu tl">Cas positifs (actifs)</h6>
            <h3 class="black tl" id="activeCasesTxt" data-plugin="counterup">activecases.txt</h3>
            <div class="sub-info pt3 pb4">
              <span class="text-muted black-40">Les cas actifs sont les personnes positives au COVID 19</span>
            </div>
          </div>
        </div>
      </article>
      <div class="mt1">
        <a href="https://github.com/l0u1sg/" title="Louis Gallet" class="f4 dib pr2 mid-gray dim">👨 Fait par Louis Gallet</a>
        <a href="https://kyler.design" title="Kyler Phillips" class="f4 dib pr2 mid-gray dim">🙋‍♂️ Basé sur une idée de Kyler Phillips</a>
        <a href="https://github.com/NovelCOVID/API" title="Data Source" class="f4 dib pr2 mid-gray dim">📊 Sources des données</a>
      </div>
     <script>

      function isDay() {
  const hours = (new Date()).getHours();
  return (hours >= 6 && hours < 19);
}
/* Dynamically change theme */
      if (isDay() == false) {
          $("body").toggleClass("light-theme");
      } else {
          $("body").toggleClass("");
      }

      $(".theme-switch").on("click", () => {
          $("body").toggleClass("light-theme");
      });
  </script>

  <script>// Add basic styles for active tabs
$('.tabs__menu-item').on('click', function() {
  $(this).addClass('bg-white').addClass('red');
  $(this).siblings().removeClass('red');
});</script>

<script src="../website/assets/js/bundle.js"></script>
</div>
</body>
</html>
