<head>
  <title>Maintenance</title>
  <link rel="stylesheet" type="text/css" href="../maintenance/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="maintenance"/>
  <img
    src="https://i.pinimg.com/originals/8e/e2/12/8ee212dac057d412972e0c8cc164deee.gif"
  />

  <h1>We will be back soon</h1>
  <h2>Just enough time to make a few changes</h2>
</body>
