<head>
  <title>Maintenance</title>
  <link rel="stylesheet" type="text/css" href="../maintenance/css/style.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
    rel="stylesheet"
  />
  <meta http-equiv="refresh" content="5" />
</head>
<body>
  <div class="maintenance">
    <img
      src="https://i.pinimg.com/originals/8e/e2/12/8ee212dac057d412972e0c8cc164deee.gif"
      class="loadCloud"
    />

    <h1>We will be back soon</h1>

    <h2>Just enough time to make few changes</h2>
    <h3>This page will refresh automatically</h3>
    <!-- <h3>
      <a href="https://corona--web.herokuapp.com/site"
        >Vous pouvez acceder à la bêta ici</a
      >
    </h3> -->
  </div>
</body>
